    
    body {
        font-family: Arial, sans-serif;
        background-color: #f8f9fa;
        margin: 0;
        padding: 0;
    }


    .container {
        margin-top: 5em;
        text-align: center;
    }

    .table {
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    }

    #totalPrice {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .btn-danger {
        margin-top: 20px;
    }

    h3 {
        color: #dc3545;
        font-weight: bold;
        margin-bottom: 2em;
    }
